><div class="login-form">
    <div class="main-div">
       <div class="panel">
          <h2>Check Your Vehicle</h2>

       </div>
       <form>
          <div class="form-group vh-check">
              <label>Enter Registration</label>
              <img src="assets/images/gb.svg" alt="Reg Plate Icon" class="regPlateBadge">
             <input type="email"  [(ngModel)] = "registration" [ngModelOptions]="{standalone: true}" class="form-control" required>
          </div>
         
          <button type="button" class="btn btn-primary" (click) = "start()" style="background: green;">Start Check</button>
          <!-- <a _ngcontent-serverapp-c4="" class="ad-link" href="JavaScript:void(0)">admin@parrotautotrader.co.uk</a> -->
       </form>
    </div>

 </div>
